{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{% static 'lib/layui-v2.6.3/css/layui.css' %}" media="all">
  <link rel="stylesheet" href="{% static 'css/public.css' %}" media="all">
  <style>
      body {
          background-color: #ffffff;
      }
  </style>
</head>
<body>
<div class="layui-form layuimini-form">
  <div class="layui-form-item">
    <label class="layui-form-label">供应商编号</label>
    <div class="layui-input-block">
      <input type="text" name="supplier_code" value="{{ oa.supplier_code }}" class="layui-input"/>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">供应商名称</label>
    <div class="layui-input-block">
      <input type="text" name="supplier_name" value="{{ oa.supplier_name }}" class="layui-input"/>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">联系电话</label>
    <div class="layui-input-block">
      <input type="text" name="contact_number" value="{{ oa.contact_number }}" class="layui-input"/>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">商品编号</label>
    <div class="layui-input-block">
      <input type="text" name="product_code" value="{{ oa.product_code }}" class="layui-input"/>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">供应价格</label>
    <div class="layui-input-block">
      <input type="number" name="supply_price" step="0.01" value="{{ oa.supply_price }}" class="layui-input"/>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">记录时间</label>
    <div class="layui-input-block">
      <input type="text" name="record_time" value="{{ oa.record_time|date:'Y-m-d\TH:i:s' }}" class="layui-input"
             disabled/>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">累计采购</label>
    <div class="layui-input-block">
      <input type="number" name="total_purchases" value="{{ oa.total_purchases }}" class="layui-input"/>
    </div>
  </div>
</div>
<script src="{% static 'lib/layui-v2.6.3/layui.js' %}" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$
            , laydate = layui.laydate;

        laydate.render({
            elem: '#date1'
        });

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.post('/add_operating_account/', data.field, function (res) {
                if (res['code'] === 200) {
                    var iframeIndex = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(iframeIndex);
                    window.parent.location.reload()
                } else {
                    layer.msg(res['msg'])
                    return false
                }
            })
            return false;
        });
    });
</script>
</body>
</html>